numpy==1.18.5
scipy==1.5.4
Pillow==8.4.0
matplotlib==3.3.4
scikit-image==0.17.2
opencv-python @ git+https://github.com/kyrofa/opencv-python@45-skbuild-fix
h5py==2.10.0
imgaug==0.4.0
IPython[all]==7.16.3
